<div class="row">
  <div class="col s12">
    <a ui-sref="newChild" class="btn-floating btn-large waves-effect waves-light z-depth-3 margin-tb-md"><i class="material-icons">add</i></a>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 center" ng-repeat="child in children track by child.id">
    <div class="card medium">
      <div class="card-image">
        <img class="" ng-src="{{child.child_photos[0].url}}">
        <span class="card-title">{{child.name}}</span>
      </div>
      <div class="card-content">
        <p>{{child.description}}, {{child.age}}</p>
      </div>
      <div class="card-action">
        <a class="" ui-sref="viewChild({id:child.id})">View</a>
        <a class="waves-effect waves-red modal-trigger" ng-click="openModal(child)">Delete</a>
        <div modal-delete object="currentChild"></div>
      </div>
    </div>
  </div>
</div>