<div class="row">
  <div class="col s12">
    <a ui-sref="newChild" class="btn-floating btn-large waves-effect waves-light z-depth-3 margin-tb-md"><i class="material-icons">add</i></a>
  </div>
</div>
<div class="row">
  <div class="col s6 m6 center" ng-repeat="child in children">
    <div class="card medium">
      <div class="card-image">
        <img src="{{child.child_photos[0].url}}">
        <span class="card-title">{{child.name}}</span>
      </div>
      <div class="card-content">
        <p>{{child.description}}, {{child.age}}</p>
      </div>
      <div class="card-action">
        <a class="" ui-sref="viewChild({id:child.id})">View</a>
        <a class="" ng-click="deleteChild(child)">Delete</a>
      </div>
    </div>
  </div>
</div>

<!-- <table id="childrentable" class="table table-hover table-responsive">
  <thead>
    <tr>
      <td><h3>All Children</h3></td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Description</strong></td>
      <td><strong>User ID</strong></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="child in children">
      <td>{{child.name}}</td>
      <td>{{child.description}}</td>
      <td>{{child.user_id}}</td>
      <td>
        <a class="btn btn-primary" ui-sref="viewChild({id:child.id})">View</a>
        <a class="btn btn-danger"  ng-click="deleteChild(child)">Delete</a>
      </td>
    </tr>
  </tbody>
</table> -->