<div class="row">
  <div class="input-field col s6">
    <i class="material-icons prefix">account_circle</i>
    <input type="text" ng-model="user.name" class="validate" id="name"/>
    <label for="name">Name</label>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">mail</i>
    <input type="email" ng-model="user.email" required class="validate" id="email"/>
    <label for="email">Email</label>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">lock</i>
    <input type="password" ng-model="user.password" input-equals="{{password_confirmation}}" class="form-control" id="password"/>
    <label for="password">Password</label>
  </div>
  <div class="input-field col s6">
    <i class="material-icons prefix">lock</i>
    <input type="password" ng-model="user.password_confirmation" input-equals="{{password_confirmation}}" class="validates" id="confirm"/>
    <label for="confirm">Confirm Password</label>
  </div>
  <input type="submit" class="btn btn-primary right" value="Save"/>
</div>