<div class="row">
  <div class="col s6 m6" ng-repeat="child in user.children">
    <div class="card medium">
      <div class="card-image">
        <img src="{{child.image}}">
        <span class="card-title">{{child.name}}</span>
      </div>
      <div class="card-content">
        <p>{{child.description}}</p>
      </div>
      <div class="card-action">
        <a class="" ui-sref="viewChild({id:child.id})">View</a>
        <a class="" ng-click="deleteChild(child)">Remove</a>
      </div>
    </div>
  </div>
</div>




<!-- <table id="childrentable" class="table table-hover table-responsive">
  <thead>
    <tr>
      <td><h3>My Children</h3></td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Description</strong></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="child in user.children">
      <td>{{child.name}}</td>
      <td>{{child.description}}</td>
      <td>
        <a class="btn btn-primary" ui-sref="viewChild({id:child.id})">View</a>
        <a class="btn btn-danger"  ng-click="deleteChild(child)">Remove</a>
      </td>
    </tr>
  </tbody>
</table> -->