<a ui-sref="newUser" class="btn-primary btn-lg nodecoration">Add New User</a>

<table id="usertable" class="table table-hover table-responsive">
  <thead>
    <tr>
      <td><h3>All Users</h3></td>
    </tr>
    <tr>
      <td><strong>Name</strong></td>
      <td><strong>Email</strong></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <a class="btn btn-primary" ui-sref="viewUser({id:user.id})">View</a>
        <a class="btn btn-danger"  ng-click="deleteUser(user)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>