<table id="usertable" class="table table-hover table-responsive">
  <thead>
    <tr>
      <td><h3>Users</h3></td>
      <td></td>
      <td><a ui-sref="newUser" class="btn-floating btn-large waves-effect waves-light z-depth-3 margin-tb-md right"><i class="material-icons">add</i></a></td>
    </tr>
    <tr>
      <td><strong><i class="material-icons small left">perm_identity</i>Name</strong></td>
      <td><strong><i class="material-icons small left">email</i>Email</strong></td>
      <td><i class="material-icons small left">settings</i></td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users">
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>
        <a class="waves-effect waves-light btn" ui-sref="viewUser({id:user.id})">View</a>
        <a class="waves-effect waves-red-accent-1 btn red modal-trigger" ng-click="openModal(user)">Delete</a>
        <div modal object="currentUser" id="modal" class="modal bottom-sheet"></div>
      </td>
    </tr>
  </tbody>
</table>