<div class="row">
  <h3>Sign Up</h3>
  <div ng-show="invalid">
    <toast>Incorrect email or password</toast>
  </div>
  <form class="col s12" ng-submit="authenticate()">
    <div class="row">
      <div class="input-field col s12 m12">
        <i class="material-icons prefix">mail</i>
        <input id="email" type="email" ng-model="email" required="required" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">lock</i>
        <input id="password" type="password" ng-model="password" name="password" required="required" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s12 m6">
        <i class="material-icons prefix">lock</i>
        <input id="passwordconfirm" type="password" ng-model="confirm" name="passwordconfirm" required="required" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <input type="submit(email,password,confirm)" value="Create Account" class="right btn-large"></input>
  </form>
</div>