<!-- Logged in -->
<!-- <div class="center jumbotron" ng-show="isLoggedIn">
  <h2>Welcome, {{user.name}}</h2>
</div> -->

<!-- Not Logged in -->
<!-- <div class="center jumbotron" ng-show="!isLoggedIn">
  <h2>Welcome to the Child Sponsorship App</h2>
  <a href="/#/signup" class="waves-effect waves-light btn-large">Sign up now!</a>
</div> -->

<div class="row center">
  <div class="card-panel green accent-1">
    <h3 class="" ng-show="isLoggedIn">Welcome, {{user.name}}</h3>
    <h3 class="" ng-show="!isLoggedIn">Welcome to the Child Sponsorship App</h3>
  </div>
</div>
<div class="row center">
  <a href="/#/signup" class="center waves-effect waves-light btn btn-large red accent-1 z-depth-3 right" ng-show="!isLoggedIn">Sign up now!</a>
  <a class="btn btn-default btn-large waves waves-light green accent-3" ng-show="isLoggedIn" href="#" ng-click="sponsor()">Sponsor a Child</a>
  <a class="btn btn-default btn-large waves waves-light green accent-4" ng-show="isLoggedIn" href="/#/users/{{user.id}}/children/view">My Kids</a>
</div>