<!-- Logged in -->
<!-- <div class="center jumbotron" ng-show="isLoggedIn">
  <h2>Welcome, {{user.name}}</h2>
</div> -->

<!-- Not Logged in -->
<!-- <div class="center jumbotron" ng-show="!isLoggedIn">
  <h2>Welcome to the Child Sponsorship App</h2>
  <a href="/#/signup" class="waves-effect waves-light btn-large">Sign up now!</a>
</div> -->

<div class="row">
  <div class="col s12 m12">
    <div class="card-panel teal">
      <h3 class="white-text" ng-show="isLoggedIn">Welcome, {{user.name}}</h3>
      <h3 class="white-text" ng-show="!isLoggedIn">Welcome to the Child Sponsorship App</h3>
    </div>
    </div>
  </div>
</div>
<div class="row center">
  <!-- <div class="col offset-s4 offset-m4 s4 m4"> -->
    <a href="/#/signup" class="center waves-effect waves-light btn btn-large red accent-1 z-depth-3 right" ng-show="!isLoggedIn">Sign up now!</a>
  <!-- </div> -->
</div>